In [1]:
import pandas as pd
import numpy as np

print (pd.__version__)
print (np.__version__)

1.1.3
1.20.2

In [3]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size =(n_rows, n_cols)),
                 columns=cols)

df

    A   B   C   D   E
0   1  15   8   9  10
1  11   3  13  19   1
2  10   1   2   8  12
3  15  12   4  12   8
4  16   5  17   2  10
5   2   5  17   7   4
6   8  17   9  11   6
7  18  13   3   3   2
8   4   9  18   8  13
9  18   7  18  15  13

Seleksi kolom dan baris menggunakan loc

In [4]:
df.loc[[6,3,4], ['B', 'E']]

    B   E
6  17   6
3  12   8
4   5  10

Seleksi baris dengan kondisi

In [5]:
df.loc[df['B']>10, ['B','D','E']]

    B   D   E
0  15   9  10
3  12  12   8
6  17  11   6
7  13   3   2

Slicing Data Frame dengan loc (bersifat inklusif, berbeda dengan list yang bersifat eksklusif)

In [7]:
df.loc[0:4, 'B':'D']

    B   C   D
0  15   8   9
1   3  13  19
2   1   2   8
3  12   4  12
4   5  17   2