In [1]:
import pandas as pd
import numpy as np

print (pd.__version__)
print (np.__version__)

1.1.3
1.20.2

In [4]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)),
                 columns=cols)

df

   usia
0    33
1     1
2    29
3    22
4    60
5    31
6    65
7    72
8    38
9     8

Pengelompokkan nilai numerik kedalam beberapa kategori menggunakan cut()

In [5]:
df['kelompok_usia'] = pd.cut(df['usia'],
                            bins = [0, 18,65,99],
                            labels = ['anak', 'dewasa', 'manula'])

df

   usia kelompok_usia
0    33        dewasa
1     1          anak
2    29        dewasa
3    22        dewasa
4    60        dewasa
5    31        dewasa
6    65        dewasa
7    72        manula
8    38        dewasa
9     8          anak