In [1]:
import pandas as pd

print(pd.__version__)

1.1.3

In [3]:
df = pd.read_clipboard()
df

          NIM  Nama
0  4122417028  Tejo
1  4122417029  Bejo
2  4122417030   Adi