In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.20.2

In [6]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)
df

    A   B   C   D   E
0   3  12   2  14   5
1   7  16   4  12   3
2  17   4  10  14  14
3  16   4  16  18   7
4  17   9  16   2  19

Akses nilai variabel pada query()

In [12]:
df.query('A > 5')

    A   B   C   D   E
1   7  16   4  12   3
2  17   4  10  14  14
3  16   4  16  18   7
4  17   9  16   2  19

In [10]:
rerata = df['A'].mean()
rerata

12.0

In [13]:
df.query('A > @rerata')

    A  B   C   D   E
2  17  4  10  14  14
3  16  4  16  18   7
4  17  9  16   2  19