In [1]:
import pandas as pd

print(pd.__version__)

1.1.3

In [2]:
d = {'pelanggaran' : [11, 12, 13, 14],
     'kepuasan' : ['baik', 'cukup', 'buruk', 'cukup']}

df = pd.DataFrame(d)
df

   pelanggaran kepuasan
0           11     baik
1           12    cukup
2           13    buruk
3           14    cukup