In [1]:
import pandas as pd

print(pd.__version__)

1.1.3

In [4]:
data = {'nama': ['bayu', 'indra', 'devi', 'agni'], 
          'jenis_kelamin': ['L', 'L', 'P', 'L'], 
          'usia': [23, 31, 22, 25]}

df = pd.DataFrame(data)
df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    31
2   devi             P    22
3   agni             L    25

Menyatukan kolom dengan std.cat()

In [5]:
df['nama'].str.cat(df['jenis_kelamin'], sep=', ').to_frame()

AttributeError: 'StringMethods' object has no attribute 'catid'