In [1]:
import pandas as pd
import numpy as np

print (pd.__version__)
print (np.__version__)

1.1.3
1.20.2

In [6]:
n_rows = 5
n_cols = 2
cols = ['bil_pecahan', 'bil_bulat']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                 columns=cols)
df['bil_pecahan'] = df['bil_pecahan'].astype('float')

df.index = pd.util.testing.makeDateIndex(n_rows, freq='H')
df = df.reset_index()

df['teks'] = list('ABCDE')

df

/home/giko/anaconda3/lib/python3.8/site-packages/pandas/util/__init__.py:12: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                index  bil_pecahan  bil_bulat teks
0 2000-01-01 00:00:00          7.0          6    A
1 2000-01-01 01:00:00         11.0         13    B
2 2000-01-01 02:00:00          2.0         19    C
3 2000-01-01 03:00:00         18.0         18    D
4 2000-01-01 04:00:00          5.0         13    E

In [7]:
df.dtypes

index          datetime64[ns]
bil_pecahan           float64
bil_bulat               int64
teks                   object
dtype: object